*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:#1e202b;
    color: white;
}

/* Navbar */

.fa-cloud {
    color: #0d6efd;
}

.bg-body-tertiary{
    background-color: transparent !important ;
    
}

.navbar-brand , .nav-link {
    color: white;
    padding: 0;
}

.navbar-brand:focus, .navbar-brand:hover {
    color: white;
    
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #0d6efd;

}

.nav-link:focus, .nav-link:hover {
    color:#0d6efd;
    padding: 0;
    
}

.navbar-nav li:hover{
    border: 2px solid #0d6efd; 
    color: #0d6efd !important;

}

/* Search */

.search-section{
    background-image: url(./image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.form-control{
    background-color:#1e202b;
    border: 1px solid #1e202b;

}

.form-control:focus{
    color: white;
    background-color:#1e202b;
    border-color: #1e202b;
    box-shadow:none;
}

.form-control::placeholder{
    color: #5b5c5ea4;
}


.input-group-text{
    color: white;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
}

/* card */

.content{
    margin-top: -150px;
}

.card{
    height: 450px;
    border: none;
}
.card-light{
    background-color: #262936;
}

.card-dark{
    background-color:#1e202b ;
}

/* footer */

footer .input-group{
    width: 70%;
}

.social-icons {
    display: flex;
    gap: 10px;
    
  }
  
  .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #1e202b;
    border-radius: 50%;
    text-decoration: none;
    color: #0d6efd;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .social-icons a:hover {
    background-color: #0d6efd;
    color: white;
  }
  